In [942]:
from selenium import webdriver
from selenium.webdriver.support.ui import Select, WebDriverWait
from selenium.webdriver.common.by import By 
from selenium.webdriver.chrome import options
from selenium.webdriver.support import expected_conditions as EC
from bs4 import BeautifulSoup 
import pandas as pd
from datetime import datetime, timedelta

In [943]:
driver = webdriver.Chrome()
driver.get('https://steamdb.info/sales/')

In [944]:
    select_element = driver.find_element(By.ID, 'dt-length-0')

    select = Select(select_element)

    select.select_by_visible_text('All (slow)')

In [945]:
tableGames = driver.find_element(By.ID, 'DataTables_Table_0')

In [946]:
htmlContent = tableGames.get_attribute("outerHtml")

In [947]:
try:
    table_games = WebDriverWait(driver, 10).until(
        EC.presence_of_element_located((By.XPATH, '//*[@id="DataTables_Table_0"]'))
    )

    html_content = table_games.get_attribute("outerHTML")

    soup = BeautifulSoup(html_content, 'html.parser')

except Exception as e:
    print("Ocorreu um erro:", str(e))
finally:
     driver.quit()

In [948]:
rows = soup.find_all('tr', class_='app')

In [949]:
def extract_data(row):
        appid = row.get('data-appid', 'N/A')
        name = row.find('a', class_='b').text if row.find('a', class_='b') else 'N/A'
        discount = row.find('td', class_='price-discount-major dt-type-numeric') or row.find('td', class_='price-discount dt-type-numeric')
        price_elements = row.find_all('td', class_='dt-type-numeric')
        price = price_elements[2].text.strip() if len(price_elements) > 2 else 'N/A'
        rating = price_elements[3].text.strip() if len(price_elements) > 3 else 'N/A'
        release = price_elements[4].text.strip() if len(price_elements) > 4 else 'N/A'

        td_elements = row.find_all('td', class_='timeago dt-type-numeric')
        
        def convert_timestamp(data_sort):
            if data_sort and data_sort.isdigit():
                return datetime.utcfromtimestamp(int(data_sort)).strftime('%Y-%m-%d')
            return 'N/A'

        ends = convert_timestamp(td_elements[0].get('data-sort', '')) if len(td_elements) > 0 else 'N/A'
        started = convert_timestamp(td_elements[1].get('data-sort', '')) if len(td_elements) > 1 else 'N/A'
        
        return {
            'AppID': appid,
            'Name': name,
            'Discount': discount,
            'Price': price,
            'Rating': rating,
            'Release': release,
            'Ends': ends,
            'Started': started
        }

In [951]:
data = [extract_data(row) for row in rows]

In [952]:
df = pd.DataFrame(data)

In [953]:
df

,AppID,Name,Discount,Price,Rating,Release,Ends,Started
0,1507190,Machinika: Museum,[-100%],"R$ 0,00",88.19%,Mar 2021,2024-05-27,2024-05-13
1,289130,ENDLESS™ Legend,[-100%],"R$ 0,00",82.23%,Sep 2014,2024-05-23,2024-05-16
2,1586800,Lil Gator Game,[-50%],"R$ 29,99",95.00%,Dec 2022,2024-05-31,2024-05-17
3,1250,Killing Floor,[-90%],"R$ 3,49",93.36%,May 2009,2024-05-23,2024-05-16
4,874260,The Forgotten City,[-65%],"R$ 25,89",93.25%,Jul 2021,2024-05-27,2024-05-13
...,...,...,...,...,...,...,...,...
724,1531720,Need for Drive - Open World Multiplayer Racing,None,"R$ 1,74",60.41%,Feb 2021,2024-06-05,2024-05-22
725,526790,Monsti,None,"R$ 1,74",60.39%,Sep 2016,2024-05-29,2024-05-15
726,248470,Doorways: Prelude,None,"R$ 6,59",60.34%,Sep 2013,2024-05-27,2024-05-20
727,293180,Overcast - Walden and the Werewolf,None,"R$ 1,74",60.11%,Apr 2014,2024-05-30,2024-05-16
728,1787820,Mirror Party,[-70%],"R$ 2,09",60.11%,Dec 2021,2024-05-24,2024-05-10

In [954]:
df['Release'] = df['Release'].replace('—', '')
df['Release'] = pd.to_datetime(df['Release'], errors='coerce')
df['Release'] = df['Release'].dt.strftime('%Y-%m')

df['Ends'] = pd.to_datetime(df['Ends'], errors='coerce')
df['Started'] = pd.to_datetime(df['Started'],errors='coerce')

today = (datetime.today())

df['Ends'] = (df['Ends'] - today + (timedelta(days=1))).dt.days
df['Started'] = (df['Started'] - today + (timedelta(days=1))).dt.days

C:\Users\Raul\AppData\Local\Temp\ipykernel_17584\904770763.py:2: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df['Release'] = pd.to_datetime(df['Release'], errors='coerce')

In [955]:
df.head(10)

,AppID,Name,Discount,Price,Rating,Release,Ends,Started
0,1507190,Machinika: Museum,[-100%],"R$ 0,00",88.19%,2021-03,5,-9.0
1,289130,ENDLESS™ Legend,[-100%],"R$ 0,00",82.23%,2014-09,1,-6.0
2,1586800,Lil Gator Game,[-50%],"R$ 29,99",95.00%,2022-12,9,-5.0
3,1250,Killing Floor,[-90%],"R$ 3,49",93.36%,2009-05,1,-6.0
4,874260,The Forgotten City,[-65%],"R$ 25,89",93.25%,2021-07,5,-9.0
5,757480,Broken Reality,[-85%],"R$ 4,34",88.73%,2018-11,1,-6.0
6,1723260,CaseCracker,[-50%],"R$ 10,34",88.62%,2022-12,11,-3.0
7,1232570,Paper Beast,[-75%],"R$ 11,49",88.01%,2020-07,5,-9.0
8,1710170,Blade of Darkness,[-60%],"R$ 11,59",87.89%,2021-10,7,-7.0
9,232090,Killing Floor 2,[-95%],"R$ 2,79",86.53%,2016-11,1,-6.0

In [956]:
print(df.dtypes)

AppID        object
Name         object
Discount     object
Price        object
Rating       object
Release      object
Ends          int64
Started     float64
dtype: object

In [957]:
def removerCaracteres(df,col, caract):
    for char in caract:
        df[col] = df[col].str.replace(char,"")
        
    return df

In [958]:
df = removerCaracteres(df,'Price',['R',"$"])
df = removerCaracteres(df,'Rating',["%"])

In [959]:
df.head()

     AppID                Name Discount   Price Rating  Release  Ends  Started
0  1507190   Machinika: Museum  [-100%]    0,00  88.19  2021-03     5     -9.0
1   289130     ENDLESS™ Legend  [-100%]    0,00  82.23  2014-09     1     -6.0
2  1586800      Lil Gator Game   [-50%]   29,99  95.00  2022-12     9     -5.0
3     1250       Killing Floor   [-90%]    3,49  93.36  2009-05     1     -6.0
4   874260  The Forgotten City   [-65%]   25,89  93.25  2021-07     5     -9.0

In [960]:
df['Discount'] = df['Discount'].apply(lambda x: re.sub('<.*?>', '', str(x)))
df = removerCaracteres(df,'Discount',["%"])

In [961]:
df.head()

     AppID                Name Discount   Price Rating  Release  Ends  Started
0  1507190   Machinika: Museum     -100    0,00  88.19  2021-03     5     -9.0
1   289130     ENDLESS™ Legend     -100    0,00  82.23  2014-09     1     -6.0
2  1586800      Lil Gator Game      -50   29,99  95.00  2022-12     9     -5.0
3     1250       Killing Floor      -90    3,49  93.36  2009-05     1     -6.0
4   874260  The Forgotten City      -65   25,89  93.25  2021-07     5     -9.0

In [962]:
df['Started'] = pd.to_numeric(df['Started'], errors='coerce')
df['Started'] = df['Started'].fillna(0).astype(int)

In [965]:
print(df.dtypes)

AppID       object
Name        object
Discount    object
Price       object
Rating      object
Release     object
Ends         int64
Started      int32
dtype: object

In [966]:
df['Discount'] = pd.to_numeric(df['Discount'], errors='coerce')
df['Discount'] = df['Discount'].astype(float)
df['Discount'] = df['Discount'].apply(lambda x: x / (-100) if pd.notnull(x) else x)


df['Rating'] = pd.to_numeric(df['Rating'], errors='coerce')
df['Rating'] = df['Rating'].astype(float)

df['Price'] = df['Price'].str.replace(',', '.')
df['Price'] = df['Price'].astype(float)

df['Release'] = df['Release'].replace('—', '')
df['Release'] = pd.to_datetime(df['Release'], errors='coerce')
df['Release'] = df['Release'].dt.strftime('%Y-%m')

df['AppID'] = df['AppID'].astype(int)

In [967]:
print(df.dtypes)

AppID         int32
Name         object
Discount    float64
Price       float64
Rating      float64
Release      object
Ends          int64
Started       int32
dtype: object

In [968]:
df.head(50)

,AppID,Name,Discount,Price,Rating,Release,Ends,Started
0,1507190,Machinika: Museum,1.00,0.00,88.19,2021-03,5,-9
1,289130,ENDLESS™ Legend,1.00,0.00,82.23,2014-09,1,-6
2,1586800,Lil Gator Game,0.50,29.99,95.00,2022-12,9,-5
3,1250,Killing Floor,0.90,3.49,93.36,2009-05,1,-6
4,874260,The Forgotten City,0.65,25.89,93.25,2021-07,5,-9
5,757480,Broken Reality,0.85,4.34,88.73,2018-11,1,-6
6,1723260,CaseCracker,0.50,10.34,88.62,2022-12,11,-3
7,1232570,Paper Beast,0.75,11.49,88.01,2020-07,5,-9
8,1710170,Blade of Darkness,0.60,11.59,87.89,2021-10,7,-7
9,232090,Killing Floor 2,0.95,2.79,86.53,2016-11,1,-6
10,1603640,The House of Da Vinci 3,0.50,29.99,86.06,2022-12,3,-4
11,970830,The Dungeon Of Naheulbeuk: The Amulet Of Chaos,0.70,21.89,85.01,2020-09,5,-9
12,1413480,Shin Megami Tensei III Nocturne HD Remaster,0.80,49.90,84.67,2021-05,7,0
13,1170080,Foretales,0.50,22.99,82.14,2022-09,5,-9
14,895620,Spellcaster University,0.60,18.99,80.33,2021-06,8,-2
15,1337010,Alba: A Wildlife Adventure,0.75,13.12,94.22,2020-12,5,-9
16,1599020,Tinykin,0.60,29.59,93.57,2022-08,5,-2
17,349040,NARUTO SHIPPUDEN: Ultimate Ninja STORM 4,0.80,15.50,89.71,2016-02,5,-2
18,1203710,UnMetal,0.70,16.50,89.45,2021-09,5,-2
19,1367590,Tormented Souls,0.70,17.99,89.23,2021-08,14,0
20,2060130,Return to Monkey Island,0.50,36.99,89.23,2022-09,1,-13
21,1672970,Minecraft Dungeons,0.50,37.47,88.87,2021-09,7,-7
22,1085220,Figment 2: Creed Valley,0.84,17.34,88.79,2023-03,14,0
23,1518770,Re: LieF ~ Shin'ainaru Anata e~,0.58,27.71,88.46,2021-02,4,-4
24,1433340,Happy's Humble Burger Farm,0.75,14.99,88.38,2021-12,5,-2
25,812140,Assassin's Creed® Odyssey,0.85,26.99,88.13,2018-10,4,-7
26,1475840,Rhythm Sprout: Sick Beats & Bad Sweets,0.75,11.74,87.87,2023-02,5,-2
27,1296840,The Spike,0.85,2.54,87.39,2020-06,5,-2
28,390720,Anarcute,0.80,7.19,86.56,2016-07,5,-9
29,398030,Old School Musical,0.75,7.99,86.21,2018-09,5,-9
30,689910,Another Lost Phone: Laura's Story,0.72,2.23,85.84,2017-09,5,-9
31,523210,A Normal Lost Phone,0.72,2.23,85.33,2017-01,5,-9
32,1331210,Wolfstride,0.70,14.09,84.90,2021-12,12,-2
33,1494470,BUSTAFELLOWS,0.75,26.99,84.33,2021-07,14,0
34,1184480,Inertial Drift,0.90,5.99,83.88,2020-09,14,0
35,21980,Call of Juarez: Bound in Blood,0.90,1.99,83.38,2009-06,9,0
36,1859360,Dungeon Village,0.63,6.87,82.70,2022-03,3,-11
37,2532050,Vampires' Melody 2,0.50,6.89,82.54,2023-09,2,-12
38,1949030,Sherlock Holmes The Awakened,0.65,54.25,81.86,2023-04,5,-2
39,1091500,Cyberpunk 2077,0.50,99.95,81.53,2020-12,4,-6
40,1092790,Inscryption,0.50,24.99,95.55,2021-10,1,-13
41,270880,American Truck Simulator,NaN,15.49,95.51,2016-02,8,-6
42,8930,Sid Meier's Civilization® V,0.75,11.24,94.98,2010-09,5,-9
43,597170,Clone Drone in the Danger Zone,0.55,17.09,94.70,2021-07,13,-1
44,1927720,Monument Valley: Panoramic Edition,0.50,8.29,94.41,2022-07,12,-2
45,1377360,Vampires' Melody,0.80,2.75,94.10,2020-10,2,-12
46,1102190,Monster Train,NaN,14.79,93.80,2020-05,6,-1
47,892970,Valheim,0.50,18.99,93.80,2021-02,6,-8
48,557340,My Friend Pedro,0.75,14.99,93.64,2019-06,1,-6
49,1069230,月影魅像-解放之羽-,0.65,23.09,93.52,2019-07,4,-4

In [969]:
df["Discount"] = df["Discount"].fillna(0)

In [970]:
df.head(5)

,AppID,Name,Discount,Price,Rating,Release,Ends,Started
0,1507190,Machinika: Museum,1.00,0.00,88.19,2021-03,5,-9
1,289130,ENDLESS™ Legend,1.00,0.00,82.23,2014-09,1,-6
2,1586800,Lil Gator Game,0.50,29.99,95.00,2022-12,9,-5
3,1250,Killing Floor,0.90,3.49,93.36,2009-05,1,-6
4,874260,The Forgotten City,0.65,25.89,93.25,2021-07,5,-9

In [971]:
df.to_json(r'C:\Users\Raul\Desktop\Programação\Dados\Pandas\SteamSales.json', orient='records',lines=True)

In [972]:
df.to_csv(r'C:\Users\Raul\Desktop\Programação\Dados\Pandas\SteamSales.csv', index=False)